@model EticaretProje.Models.Genre

@{
    Layout = "_LayoutNew";
}


<h4>Genre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTurfileUpload" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GenreId" id="genreid" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <img src="@String.Concat("../../",Model?.Path)" width="150"/>
            <div class="form-group">
                <label for="exampleFormControlFile1">Dosya Yükle</label>
                <input type="file" name="formFile" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Güncelle</button>          

        </form>
    </div>
</div>

<script>
   




</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


